# model ignore
*.pth.tar
./classifier_models/
./segmentation_models/

# molcache ignore
*.molcache2

# dataset ignore
*.tar.gz
./data_dir/

# jupyter-lab cache ignore
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# pycache ignore
./__pycache__/


